<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>CSS3 Contact Form</title>
</head>
<body>
<div id="contact">
    <h1>Enter your name</h1>
    <form action="/update" method="post">
        <fieldset>
            <label for="firstName">firstName:</label>
            <input type="text" id="firstName" name="firstName" placeholder="Enter your first name" />

            <label for="lastName">lastName:</label>
            <input type="text" id="lastName" name="lastName" placeholder="Enter your last name" />

            <!-- <label for="message">Message:</label>
            <textarea id="message" placeholder="What's on your mind?"></textarea> -->

            <input type="submit" value="Send message" />

        </fieldset>
    </form>
</div>
<p>
    <%= dataToSend  %>
</p>
</body>
</html>